.gpt3__features-container{
    display: flex;
}
.gpt3__features-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;

    /* or 132% */

    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.gpt3__features{
    flex: 1;
}
.gpt3__features > p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    /* identical to box height, or 188% */

    color: #FF8A71;
}
.gpt3__features-feature{
    flex: 2;
    /* border: 2px solid pink; */
}